<div class="login-box">
    <div class="login-logo">
      <img src="../../../assets/ICI logo.png" width="200px" height="200px">
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Remplissez vos informations ci-dessous!</p>


        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Nom d'utilisateur">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Mot de passe">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">

          <!-- /.col -->
          <div class="col-xs-12">
            <button type="submit" class="btn  btn-block btn-flat btn-color" (click)="login()">s'identifier</button>
          </div>
          <!-- /.col -->
        </div>


    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
